
@import url(/assets/css/root.css);

@font-face {
    font-family: arquitecta;
    src: url(../fonts/arquitecta-cufonfonts/ArquitectaBlack.otf);
}

.bg-logo {
    background-image: url(/assets/images/png/section-get-your-free-pdf-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.mt-12 {
    margin-top: 12px;
}

.min-height-571 {
    min-height: 571px;
}

.the-complete-guide {

    font-family: Arquitecta;
    font-size: var(--fs-lg);
    font-weight: 500;
    line-height: 31.2px;
    text-align: center;
    color: var(---white);
}

.grab-your-free-pdf {
    color: var(---white);
    font-family: Arquitecta;
    font-size: var(--fs-2xl);
    font-weight: 700;
    line-height: 44.1px;
    text-align: center;

}

.max-width-730 {
    max-width: 730px;
}

.layout-of-imput-name {
    padding: 16px;
    border: 1px solid var(---grey-black);
    width: 330px;
    height: 50px;
    outline: none;
    font-family: Arquitecta;
    font-size: var(--fs-xsm);
    font-weight: 400;
    line-height: 24.8px;
    text-align: left;
    background: #1D1D1D;
    color: var(---white);
}

.button-of-grab-your-free-pdf {
    width: 329px;
    height: 48px;
    background: var(---orange);
    font-family: Arquitecta;
    font-size: var(--fs-md);
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    color: var(---white);
    margin-top: 32px;
    transition: all .3s linear;
    outline: none;
    border: none;
}

.button-of-grab-your-free-pdf:hover {
    background-color: var(---white);
    color: var(---orange);
}

.max-w-1140 {
    max-width: 1140px;
}

.footer-bg-black {
    background: var(---black-footer);
}

.pt-80 {
    padding-top: 80px;
}

.heading-of-list-of-footer {
    font-family: Arquitecta;
    font-size: var(--fs-md);
    font-weight: 700;
    line-height: 31px;
    text-align: left;
    color: var(---white);
}

.list-of-footer {
    font-family: Arquitecta;
    font-size: var(--fs-lg) !important;
    font-weight: 500;
    line-height: 31.2px;
    text-align: left;
    color: #E2E4E4 !important;
}
.hower-orange{
    transition: all .3s linear;
}
.hower-orange:hover{
    color: var(---orange) !important;
}
.gap-24 {
    gap: 24px !important;
}

.mt-32 {
    margin-top: 32px;
}

.footer-scoical-logo-box {
    width: 35px;
    height: 35px;
    gap: 0px;
    opacity: 0px;
    border-radius: 50%;
    background-color: var(---greyish-black);
}

.footer-image {
    max-width: 386px;
}

@media (max-width:768px) {
    .layout-of-imput-name {
        width: 300px;
    }

    .button-of-grab-your-free-pdf {
        width: 300px;
    }

    .footer-image {
        max-width: 327px;
    }

}
@media (max-width:568px) {
    .before-md-d-kit{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}