@font-face {
    font-family: arquitecta;
    src: url(../fonts/arquitecta-cufonfonts/ArquitectaLight.otf);
}

#back-to-top {
    width: 50px;
    height: 50px;
    color: white;
    border-radius: 30px;
    border: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: none;
    cursor: pointer;
    transition: all 300ms linear;
    z-index: 2;
}

.arquitecta-font-family {
    font-family: "arquitecta", sans-serif;
}

section .header .container nav ul li a {
    text-decoration: none !important;
    color: white;
}

.container {
    max-width: 1140px !important;
    width: 100%;
}


section .header .container nav ul li {
    list-style: none;
}

.gap-30 {
    gap: 30px;
}

.navbar-bnt {
    width: 148px;
    height: 51px;
    border: 1px solid var(---orange);
    color: var(---orange);
    background-color: transparent;
    transition: all 300ms linear;
}

.navbar-links::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    transition: all 300ms ease-in-out;
    background-color: var(---orange);
}

.navbar-links:hover::after {
    width: 100%;
    left: 0;
}

.navbar-links:hover {
    color: var(---orange) !important;
}

.hero-section-btn {
    width: 151px;
    height: 48px;
    border: transparent;
}

.video-section-btn-1 {
    width: 151px;
    height: 48px;
    border: 0px;
    background-color: var(---orange);
}

.video-section-btn-2 {
    width: 271px;
    height: 48px;
    border: 1px solid var(---black);
}

.hero-section-btn:hover {
    box-shadow: 4px 4px 20px 0px var(---orange);
}

.navbar-bnt:hover {
    box-shadow: 4px 4px 20px 0px var(---orange);
    background-color: var(---orange);
    color: var(---white) !important;
}

.menu-bar {
    width: 35px;
    height: 5px;
    background-color: white;
    border-radius: 10px;
    transition: all 300ms;
}

.rotate {
    transform-origin: top left;
    transform: rotate(35deg);
}

.rotate-1 {
    transform-origin: bottom left;
    transform: rotate(-35deg);
}

.show-nav-bar {
    right: 0 !important;
}

.pt-100 {
    padding-top: 100px;
}

.pt-150 {
    padding-top: 150px !important;
}

.mb-100 {
    margin-bottom: 100px;
}

.shadow-img {
    top: -31.5%;
    right: -30%;
}

.shadow-box {
    border-radius: 50%;
    width: 494px;
    height: 494px;
    -webkit-box-shadow: inset -19px 0px 300px 29px rgba(34, 255, 0, 1);
    -moz-box-shadow: inset -19px 0px 300px 29px rgba(34, 255, 0, 1);
    box-shadow: inset -19px 0px 300px 29px rgba(34, 255, 0, 1);
}

.shadow-box-1 {
    border-radius: 50%;
    -webkit-box-shadow: -5px 24px 300px 0px rgba(34, 255, 0, 1);
    -moz-box-shadow: -5px 24px 300px 0px rgba(34, 255, 0, 1);
    box-shadow: -5px 24px 300px 0px rgba(34, 255, 0, 1);
    width: 494px;
    height: 494px;
    background-color: transparent;
}

.right-26 {
    right: -26%;
}

.hero-section-shadow {
    box-shadow: -31px 115px 400px 200px rgba(238, 233, 22, 1);
    -webkit-box-shadow: -31px 115px 400px 200px rgba(238, 233, 22, 1);
    -moz-box-shadow: -31px 115px 400px 200px rgba(238, 233, 22, 1);
    width: 57px;
    height: 250px;
    right: 38%;
    top: 35%;
    opacity: 40%;
}

.bg-imga {
    background-image: url(/assets/img/png/hero-section-shadow-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.white-space-no-wrap {
    white-space: nowrap;
}

.bg-about-section {
    background-color: var(---null);
}

.min-335 {
    min-height: 335px;
}

.text-color-yellow {
    color: var(---yellow);
}

.text-light-white {
    color: var(---footer-text);
}

.text-cian {
    color: var(---cian);
}

.text-orange {
    color: var(---orange);
}

.text-grey-black {
    color: var(---grey-black);
}

.about-section-line {
    width: 56px;
    height: 2px;
}

.bg-yellow {
    background-color: var(---yellow);
}

.bg-orange {
    background-color: var(---orange);
}

.bg-cian {
    background-color: var(---cian);
}

.hover-orange:hover {
    color: var(---orange) !important;
}

.transition-300ms {
    transition: all 300ms linear;
}

.video-section-heading-line {
    width: 64px;
    height: 2px;
}

.border-gray {
    border: 2px solid var(---grey-black);
}

.play-btn-svg {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.w-100px {
    width: 100px;
}

.h-31px {
    height: 31px;
}

.border-radius-55 {
    border-radius: 55px;
}

.cursor-pointer {
    cursor: pointer;
}


@media (max-width:992px) {
    .mobile-view {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        right: -100%;
        transition: all 300ms linear;
        background-color: var(---black);
    }

}

@media (max-width:768px) {
    #back-to-top {
        bottom: 25px;
        right: 25px;
    }
}
@media (max-width:568px) {
    .pt-75{
        padding-top: 75px !important;
    }
    .mb-sm-50{
        margin-bottom: 50px;    
    }
    .pt-sm-150{
        padding-top: 150px;
    }
}